.nav__link,
.nav__select,
.nav__input
    font-size: 16px

.search__first input:placeholder,
.search__second input:placeholder
    font-style: 16px

.nav__logo img
    height: 45px

.search__first, 
.search__second 
    height: 47px
.search
    margin: 35px 0 
h2, h3
    font-size: 32px !important
    line-height: 36px
h5,
.sort__info h5,
.sort__info p
    font-size: 16px !important
.card__image
    height: 165px

.card,
.filder__card
    min-height: 435px
.card h4
    font-size: 20px
    line-height: 22px
.card__button
    margin: 10px 0 0 0
.cards__button
    padding: 10px 15px
    font-size: 20px
.info__text
    font-size: 20px
    line-height: 22px
.hidden__block a
    font-size: 20px
.hidden__block li
    margin-bottom: 0px
.categories__link img
    height: 100px
.categories__item
    margin: 15px 30px
    font-weight: 600
    font-size: 16px
.categories__box
    justify-content: space-around
.search__first input,
.search__second input
    font-size: 16px
.categories__link 
    line-height: 2
.categories__item a
    margin-bottom: 10px
.search__button
    font-size: 16px
.chosen__image
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px
.register__par
    margin: 10px 0 0 0
.register__input
    padding: 0 10px
    height: 45px
    font-size: 16px
.register__submit
    font-size: 18px
.footer__make p,
.footer__link,
.search__checkbox+label,
.sort__header a,
.about__text,
.active__status a,
.checkbox__all+label
    font-size: 16px
.search__checkbox+label:before,
.checkbox__all+label:before,
.checkbox__all__white+label:before
    height: 28px
    width: 28px
.search__checkbox:checked+label:after,
.checkbox__all:checked+label:after,
.checkbox__all__white:checked+label:after
    left: 8px
    top: 16px
.checkbox__all:checked+label:after
    top: 18px
.search__select
    margin-left: 90px
.third,
.second,
.first
    height: 40px
    padding-bottom: 2px
.filter__par
    margin-top: 10px
.select__ref,
.sort__header a,
.sort__sort
    margin-bottom: 5px
    margin-top: 20px
.card__info h5
    font-size: 14px !important
    text-align: left
.filder__card
    width: 24%
.card__info
    padding: 0 0 10px 0
.premium__first 
    width: 100%
.card__link,
.card__hover.favorite
    font-size: 16px
    font-weight: normal
    display: flex
    align-items: center
    justify-content: center

.sort__sort
    text-align: right
.sort__box
    width: 100%
.booxxx
    display: flex
    width: 80%
.search__checkitem
    display: flex
    align-items: center
    justify-content: center
.about__info__2
    padding: 0 10px
.about__complain
    margin: 0
.about__footer
    align-items: center
    justify-content: space-between
.about__footer h6
    margin-top: 20px
.profile__up a
    font-size: 16px
    padding: 4px 15px
    margin-bottom: 0
.active__line,
.active__line input,
.active__search button,
.active__select
    font-size: 16px
    height: 40px
.active__limit a,
.product__user__2 h6,
.product__user__1 h6,
.unique__link a,
.product__file__button button,
.settings__flexbox a,
.settings__cv p
    font-size: 16px
.active__limit
    padding: 5px 20px
.active__select__icon
    margin-top: 15px
.product__second
    width: 100%
.product__user__1 h6
    line-height: 50px
.product__overflow
    margin-bottom: 15px
.product__input input
    height: 50px
    font-size: 18px
.user__file__name h6
    margin: 0
    padding: 0
.product__input
    margin-bottom: 10px
.amount__link a
    border: 2px solid #038992
    font-size: 16px
.nav__saved i
    font-size: 20px
.nav__last
    padding: 0
    justify-content: center
    align-items: center
    display: flex
.unique__image
    padding-right: 0
.product__danger h5
    font-size: 20px !important
.product__danger__link
    margin-top: 80px
.contact__info input
    height: 45px
.checkbox__all__white:checked+label:after
    top: 14px
.settings__save button
    font-size: 18px
    padding: 6px 20px
.settings__header h4
    margin: 20px 0
    font-size: 28px
.notif__second ul,
.notif__third ul
    margin-top: 0px
    margin-bottom: 80px
    &:last-child
        margin-bottom: 0
.settings__flex p
    margin: 20px
    font-size: 18px
.settings__cv h4,
.settings__flexbox span
    font-size: 20px
.last__line
    padding: 15px 0 0 0
    margin-top: 20px
.radioContainer
    width: 22%
.payment__first,
.payment__cancel
    font-size: 18px
.photo__add__title,
.create__title__message
    font-size: 28px
    margin: 20px 0