.cards 
  background-image: url("../images/src/categories.png")
  background-repeat: no-repeat
  background-size: contain
  &__box 
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 80%
    @media (max-width: 768px)
      width: 100%
      padding: 0 5px
  &__adss
    width: 18%
    @media (max-width: 768px)
      display: none
  &__header
    font-style: normal
    font-weight: 600
    font-size: 36px
    line-height: 58px
    color: #616161
    font-family: 'Lato', sans-serif
    text-align: center
    @media (max-width: 640px)
      font-size: 32px
  &__show
    text-align: center
  &__button
    margin-top: 20px
    margin-bottom: 50px
    border: none
    font-family: 'Lato', sans-serif
    background: #84C7AE
    border-radius: 10px
    font-style: normal
    font-weight: 600
    font-size: 24px
    line-height: 29px
    color: #FFFFFF
    padding: 10px 15px
    border: 2px solid #84C7AE
    cursor: pointer
    transition-property: width
    transition-duration: 2s
    transition-timing-function: linear
    transition-delay: 1s
    &:hover
      border: 2px solid #84C7AE
      background: #fff
      color: #84C7AE
    @media (max-width: 640px)
      font-size: 22px
      font-weight: 500
      line-height: 22px

.card 
  display: flex
  flex-direction: column
  width: 30%
  min-height: 500px
  background: #E6F3F4
  border-radius: 20px
  position: relative
  margin-bottom: 30px
  padding-bottom: 20px
  @media (max-width: 640px)
    width: 48%
    min-height: 280px !important
    padding-bottom: 15px
  @media (max-width: 1024px)
    min-height: 430px
  &__image
    width: 100%
    height: 208px
    border-radius: 20px
    @media (max-width: 640px)
      height: 130px
    @media (max-width: 1024px)
      height: 140px
      margin-bottom: 0
  h4
    text-align: center
  &__list 
    display: flex
    flex-direction: column
  &__background
    background: #E5E5E5
  &__info
    display: flex
    flex-direction: row
    padding: 0
    padding: 10px 0 
    @media (max-width: 640px)
      padding: 5px 0px !important
    @media (max-width: 1024px)
      padding: 5px 20px
    h5
      margin: 0
      font-family: 'Lato', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 17px
      text-align: center
      color: #000000
      margin-left: 5px
      text-decoration: none
  &__padding
    padding: 0 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    @media (max-width: 640px)
      padding: 0 5px
    @media (max-width: 1024px)
      padding: 0 5px
  &__button
    display: flex
    flex-direction: row
    justify-content: center
    padding: 0 10px
    margin-top: 20px
    @media (max-width: 640px)
      padding: 0 0px
    @media (max-width: 1024px)
      padding: 0
  &__link
    width: 140px
    height: 40px
    padding: 5px 0
    text-decoration: none
    background: #84C7AE
    border: 2px solid #84C7AE
    border-radius: 10px
    font-family: 'Lato', sans-serif
    text-align: center
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 22px
    color: #FFFFFF
    margin-right: 5px
    transition-property: width
    transition-duration: 2s
    transition-timing-function: linear
    transition-delay: 1s
    &:hover
      border: 2px solid #84C7AE
      background: #fff
      color: #84C7AE
    @media (max-width: 640px)
      font-size: 14px
      font-weight: 400
      height: 40px
      padding: 3px 2px
      line-height: 26px
    @media (max-width: 1024px)
      font-size: 16px
      
  &__hover
    width: 140px
    padding: 8px 0
    text-decoration: none
    font-family: 'Lato', sans-serif
    text-align: center
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 22px
    color: #84C7AE
    border: 2px solid #84C7AE
    box-sizing: border-box
    border-radius: 10px
    margin-left: 5px
    transition-property: width
    transition-duration: 2s
    transition-timing-function: linear
    transition-delay: 1s
    &:hover
      background: #84C7AE
      border: 2px solid #84C7AE
      color: #fff
    @media (max-width: 640px)
      width: 40px
      height: 30px
      padding: 3px 0
    @media (max-width: 1024px)
      width: 50px
      height: auto
      padding: 7px 0
    
      
  &__text
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 24px
    line-height: 29px
    text-align: center
    color: #000000
    margin: 15px 0
    @media (max-width: 640px)
      font-size: 16px
      font-weight: 400
      line-height: 18px
      text-align: center
      margin-bottom: 10px !important
    @media (max-width: 1024px)
      font-size: 18px
      margin-bottom: 0
  &__status
    position: absolute
    right: 0
    top: 0
    background: #F7D501
    border-radius: 0px 18.5px
    padding: 6px 8px
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    display: flex
    align-items: center
    color: #FFFFFF
    @media (max-width: 640px)
      font-size: 8px
      padding: 5px
    @media (max-width: 1024px)
      font-size: 12px
      padding: 6px
  &__status__top
    position: absolute
    right: 0
    top: 0
    background: #038992
    border-radius: 0px 18.5px
    padding: 6px 15px
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    display: flex
    align-items: center
    color: #FFFFFF
    @media (max-width: 640px)
      font-size: 10px
      padding: 5px 10px
    @media (max-width: 1024px)
      font-size: 12px
      padding: 5px 10px
.premium
  display: flex
  flex-direction: row
  justify-content: space-between
  &__first
    width: 85%
    @media (max-width: 768px)
      width: 100%
  &__second
    width: 15%
    display: flex
    align-items: end
    justify-content: flex-end
    @media (max-width: 768px)
      display: none
      width: 0
    @media (max-width: 1024px)
      img
        width: 90%
      

.card__text__filter
  margin-top: 20px
  margin-bottom: 20px
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 600
  font-size: 20px
  line-height: 24px
  text-align: center
  color: #000000
  @media (max-width: 640px)
    font-size: 16px
    line-height: 18px
    text-align: left
    font-weight: 400
    margin-bottom: 0
.filder__card
  display: flex
  flex-direction: column
  width: 32%
  min-height: 490px
  background: #E6F3F4
  border-radius: 20px
  position: relative
  margin-bottom: 30px
  padding-bottom: 20px
  @media (max-width: 640px)
    width: 48%
    min-height: 300px
  @media (max-width: 1024px)
    min-height: 280px
  &__image
    width: 100%
    height: 208px
    border-radius: 20px
    @media (max-width: 640px)
      height: 120px
.chosen
  background: #E5E5E5
  &__box
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 50px
  &__show
    text-align: center
  &__button
    margin-top: 20px
    margin-bottom: 50px
    border: none
    font-family: 'Lato', sans-serif
    background: #84C7AE
    border-radius: 10px
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 24px
    color: #FFFFFF
    padding: 10px 15px
    border: 2px solid #84C7AE
    cursor: pointer
    transition-property: width
    transition-duration: 2s
    transition-timing-function: linear
    transition-delay: 1s
    &:hover
      border: 2px solid #84C7AE
      background: #fff
      color: #84C7AE
    @media (max-width: 640px)
      font-size: 22px
      font-weight: 500
      line-height: 22px
  &__card
    display: flex
    flex-direction: column
    width: 23%
    min-height: 400px
    background: #FFFFFF
    border-radius: 20px
    position: relative
    margin-bottom: 30px
    padding-bottom: 20px
    @media (max-width: 640px)
      width: 48%
      min-height: 290px
  &__image
    width: 100%
    height: 158px
    border-radius: 20px
    @media (max-width: 640px)
      height: 120px
  &__info
    display: flex
    flex-direction: row
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 12px
    text-align: center
    color: #000000
    h5
      margin: 10px 0
      text-decoration: none
      color: inherit
      color: #000000
    img
      margin-right: 5px
  &__link
    background: #ffffff
    border-radius: 6.60645px
    border: 2px solid #84C7AE
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 14px
    color: #84C7AE
    padding: 5px 12px
    margin: 0 5px
    text-decoration: none
    &:hover
      background: #84C7AE
      color: #fff
  &__status
    position: absolute
    right: 0
    top: 0
    background: #F7D501
    border-radius: 0px 18.5px
    padding: 10px
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 16px
    display: flex
    align-items: center
    color: #FFFFFF
    @media (max-width: 640px)
      font-size: 8px
      padding: 5px
  &__status__top
    position: absolute
    right: 0
    top: 0
    background: #038992
    border-radius: 0px 18.5px
    padding: 10px 20px
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 16px
    display: flex
    align-items: center
    color: #FFFFFF
    @media (max-width: 640px)
      font-size: 10px
      padding: 5px 10px
.chosen__text__filter
  text-align: center 
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 600
  font-size: 18px
  line-height: 20px
  text-align: center
  color: #000000
  margin-bottom: 20px
  @media (max-width: 640px)
    font-size: 16px
    margin-bottom: 0px
.ads__first
  display: flex
  justify-content: center
  margin-top: 40px
  @media (max-width: 768px)
    width: 100%
    img
      width: 100%

@media (max-width: 640px)
  .phone
    display: none
.favorite
  display: block
  @media (max-width: 640px)
    display: none
  @media (max-width: 1024px)
    display: none
  &__phone
    display: none
    @media (max-width: 1024px)
      display: block
    