.back__footer
  background-image: url("../images/src/footer.png")
  background-repeat: no-repeat
  background-size: 100%
  background-position: center
  background-color: #F6FBF9
  margin-top: 50px
.footer
  &__first
    display: flex
    flex-direction: row
    justify-content: space-between 
    padding-top: 50px
  &__box
    display: flex
    flex-direction: column
    padding-top: 20px
  &__item
    display: flex
    flex-direction: column     
  &__link
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 22px
    color: #616161
    text-decoration: none
    margin: 5px 0
  &__second
    display: flex
    flex-direction: row
    justify-content: center
    margin-top: 30px
  &__android
    margin-left: 30px
  &__social
    display: flex
    flex-direction: row
    justify-content: center
    margin-top: 30px
    padding-bottom: 30px
    border-bottom: 1.5px solid #038992
  &__social__link
    background: #616161
    width: 50px
    height: 50px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    text-decoration: none
    margin: 0 8px
    color: #ffffff
    &:hover
      background: #038992
    i
      text-align: center
      font-size: 26px
  &__make
    text-align: center
    p
      font-family: 'Lato', sans-serif
      font-style: normal
      font-weight: 600
      font-size: 18px
      line-height: 22px
      color: #616161