.header
  background: #E6F3F4
.header__main
  display: flex
  flex-direction: row
  justify-content: space-between

.nav
  display: block
  @media (max-width: 640px) 
    display: none 
  &__list
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 0 20px
  &__item
    display: flex
    margin: 0
    padding: 10px 
  &__link
    font-family: 'Lato', sans-serif
    text-decoration: none
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 29px
    color: #616161
    transition-property: width
    transition-duration: 2s
    transition-timing-function: linear
    transition-delay: 1s
    &:hover
      color: #038992
      
  &__logo
    padding-top: 15px
    @media (max-width: 640px)
      padding: 10px 0
  &__last
    padding-top: 25px
  &__input
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 24px
    line-height: 29px
    text-decoration-line: underline
    color: #616161
    margin-right: 15px
    transition-property: width
    transition-duration: 2s
    transition-timing-function: linear
    transition-delay: 1s
    @media (max-width: 640px)
      font-size: 20px
    &:hover
      color: #038992
  &__select
    border: none
    background-color: inherit
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 24px
    color: #616161
.search
  margin-top: 50px
  margin-bottom: 50px
  &__filter
    background-image: url("../images/src/filter.png")
    background-repeat: no-repeat
    background-size: contain
    background-position: center
  &__main
    display: flex
    flex-direction: row
    justify-content: center 
    margin-top: 20px
  &__first 
    display: flex
    border: 1.2px solid #038992
    padding: 5px 10px
    border-right: 0px
    width: 430px
    border-radius: 10px 0px 0px 10px
    & input
      height: 100%
      width: 100%
      font-family: 'Lato', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 24px
      line-height: 29px
      color: rgba(97, 97, 97, 0.8)
      @media (max-width: 768px)
        font-size: 15px !important
        width: 100%
        padding: 5px
  &__second
    display: flex
    border: 1.2px solid #038992
    padding: 5px 10px
    width: 355px
    border-radius: 0px 10px 10px 0px
    & input
      height: 100%
      width: 100%
      font-family: 'Lato', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 24px
      line-height: 29px
      color: rgba(97, 97, 97, 0.8)
    @media (max-width: 768px)
      display: none
      & input
        font-size: 18px
  &__icon
    padding: 5px
    @media (max-width: 768px)
      padding: 0
  &__button
    margin-left: 5px
    padding: 0 25px
    background: #038992
    border-radius: 10px
    border: none
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 29px
    color: #FFFFFF
    cursor: pointer
    border: 2px solid #038992
    transition-property: width
    transition-duration: 2s
    transition-timing-function: linear
    transition-delay: 1s
    &:hover
      border: 2px solid #038992
      background: #fff
      color: #038992
    @media (max-width: 768px)
      margin: 0
      padding: 0 15px
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      font-size: 18px
  &__item
    font-family: 'Lato', sans-serif 
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 29px
    color: #7F807F
    margin-right: 40px
    @media (max-width: 768px)
      font-size: 16px
    
  &__select
    margin-left: 78px
    @media (max-width: 768px)
      margin-left: 0
.filter
  display: flex
  flex-direction: column
  text-align: center
  &__par
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 58px
    color: #616161
    margin-top: 40px
    @media (max-width: 768px)
      font-size: 36px
      line-height: 40px
    h3
      margin: 0
  &__header
    margin-top: 15px
  &__link
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 22px
    color: #616161
    text-decoration: none
    margin: 0 15px
.select
  &__main
    margin-right: 15px
    @media (max-width: 768px)
      margin-right: 0px
    &:nth-child(5)
      margin-right: 0px
  &__select
    width: auto
    height: 50px
    background: #F6FBF9
    border: 1px solid #038992
    box-sizing: border-box
    border-radius: 10px
    font-family: 'Lato', sans-serif 
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 29px
    color: #7F807F
    padding: 0 10px
    font-size: inherit
    appearance: none
    @media (max-width: 768px)
      width: 100% !important
  &__box
    display: flex
  &__item
    font-family: 'Lato', sans-serif 
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 29px
    color: #7F807F
  &__ref
    margin-top: 50px
    margin-bottom: 20px
    @media (max-width: 768px)
      margin-top: 10px
      margin-bottom: 10px
  &__text
    font-family: 'Lato', sans-serif 
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 24px
    margin: 0
    color: #7F807F
.first
  width: 254px
.second
  width: 170px
.third
  width: 120px
  margin-left: 5px
.sec__select
  display: flex
  flex-direction: row
  @media (max-width: 768px)
    flex-direction: column
.search__checkbox
  position: absolute // take it out of document flow
  opacity: 0 // hide it

  @media (max-width: 768px)
    font-size: 16px


  & + label 
    position: relative
    cursor: pointer
    padding: 0
  
  // Box.
  & + label:before 
    content: ''
    margin-right: 10px
    display: inline-block
    vertical-align: text-top
    width: 36px
    height: 36px
    background: #F6FBF9
    border: 1px solid #038992
    box-sizing: border-box
    border-radius: 5px
    @media (max-width: 768px)
      width: 20px
      height: 20px
  // Box hover
  &:hover + label:before 
    background: #038992
  

  // Box focus
  &:focus + label:before 
    box-shadow: none
  
  // Box checked
  &:checked + label:before 
    background: #038992
  
  // Disabled state label.
  &:disabled + label 
    color: #b8b8b8
  
  // Disabled box.
  &:disabled + label:before 
    box-shadow: none
    background: #ddd

  // Checkmark. Could be replaced with an image
  &:checked + label:after 
    content: ''
    position: absolute
    left: 13px
    top: 16px
    background: white
    width: 4px
    height: 4px
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white
    transform: rotate(45deg)
    @media (max-width: 768px)
      width: 2px
      height: 2px
      left: 5px
      top: 13px
.search__box 
  display: flex
  flex-direction: row
  @media (max-width: 768px)
    flex-direction: column
    padding: 0 5px
  li 
    display: flex
    flex-direction: row
     

.sort
  &__header
    display: flex
    flex-direction: row
    a
      font-family: 'Lato', sans-serif
      font-style: normal
      font-weight: 500
      font-size: 20px
      line-height: 24px
      color: #7F807F
      margin-top: 50px
      margin-right: 30px
      text-decoration: none 
      &:hover
        color: #038992
  &__active
    color: #038992 !important
    text-decoration: underline !important

  &__box
    display: flex
    flex-direction: row
    @media (max-width: 768px)
      flex-direction: column
  &__sort
    font-family: 'Lato', sans-serif 
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 24px
    color: #7F807F
    margin-top: 40px 
    margin-bottom: 10px
  &__info
    margin-left: 30px
    text-align: center
    @media (max-width: 768px)
      text-align: left
      margin-left: 0
      margin-top: 5px
    h5
      margin: 0
      font-style: normal
      font-weight: bold
      font-size: 20px
      line-height: 24px
      color: rgba(127, 128, 127, 0.8)
    p
      margin: 0
      margin-top: 5px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 22px
      color: rgba(127, 128, 127, 0.8)

