.photo
  background-image: '../images/src/filter.png'
  background-size: 100%
  background-repeat: no-repeat
  &__input
    display: none
  &__add__title
    font-family: 'Lato', sans-serif
    text-align: center
    font-style: normal
    font-weight: 500
    font-size: 36px
    line-height: 43px
    color: #616161
    margin: 30px 0
    
  &__box
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 20px
  &__title
    h6
      font-family: 'Lato', sans-serif
      font-style: normal
      font-weight: 500
      font-size: 24px
      line-height: 29px
      color: #616161
      margin-bottom: 10px
      margin-top: 0
    p
      font-style: normal
      font-weight: 500
      font-size: 18px
      line-height: 22px
      color: rgba(97, 97, 97, 0.8)
      margin-top: 0px
  &__col
    width: 270px
    height: 180px
    img
      width: 270px
      height: 180px
    &__input
      width: 270px
      height: 180px
      background: #84C7AE
      display: flex
      align-items: center
      border-radius: 10px
      label
        text-align: center
        margin: 0 auto
        cursor: pointer
        padding: 40px
        font-style: normal
        font-weight: 500
        font-size: 24px
        line-height: 29px
        color: #FFFFFF
.paste
  background: #fff
  padding-top: 30px
  padding-bottom: 50px