.mySwipper
  width: 400px
  height: 400px
.swiper-slide
  text-align: center
  font-size: 18px
  background: inherit
  display: -webkit-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  -webkit-justify-content: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  -webkit-align-items: center
  align-items: center
  width: 400px
  height: 400px
  img
    display: block
    width: 400px
    height: 400px
    object-fit: cover
    margin-top: 60px
.swiper-container
  margin-left: auto
  margin-right: auto
.about
  display: flex
  flex-direction: row
  &__things
    margin-top: 50px
  &__info
    width: 48%
    background: #E6F3F4
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25)
    margin: 0 20px
  &__info__2
    width: 48%
    background: #E6F3F4
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25)
    margin: 0 20px
    display: flex
    flex-direction: column
    padding: 0 30px
  &__save
    display: flex
    justify-content: space-between
    padding: 0 20px
    margin-top: 10px
  &__bookmark
    font-size: 36px
    color: #038992
    margin-bottom: 30px
  &__link
    display: flex
    flex-direction: row
  &__footer
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    align-content: flex-end
    margin-top: auto
  &__title
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 36px
    line-height: 36px
    text-align: center
    color: #616161
    margin-top: 30px
    margin-bottom: 20px
  &__cost
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 800
    font-size: 48px
    line-height: 58px
    text-align: center
    color: #616161
    margin: 0
  &__user
    display: flex
    flex-direction: row
  &__text
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 28px
    color: #616161
  &__link
    a
      font-family: 'Lato', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 22px
      text-decoration-line: underline
      color: #616161
      margin-left: 20px
      &:nth-child(1)
        margin-left: 0px
  &__complain
    width: 160px
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 22px
    color: #84C7AE
    border: 2px solid #84C7AE
    box-sizing: border-box
    border-radius: 8px
    text-align: center
    margin: 0 auto
    margin-top: 40px
    text-decoration: none
    padding: 6px 0
.swiper-button-next 
  background-image: url(../svg/nexta.svg)
  background-repeat: no-repeat
  background-size: 100% auto
  background-position: center
  margin-right: 15px
.swiper-button-next::after 
  display: none
.swiper-button-prev
  background-image: url(../svg/backa.svg)
  background-repeat: no-repeat
  background-size: 100% auto
  background-position: center
  margin-left: 15px
.swiper-button-prev::after 
  display: none
.white
  &__info
    background: #FFFFFF
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25)
.user
  &__info
    margin-left: 20px
    h6
      margin-bottom: 0px
    p
      margin-top: 0px